{
    "plugins": ["prettier-plugin-svelte"],
    "pluginSearchDirs": ["."],
    "overrides": [{ "files": "*.svelte *.ts *.js", "options": { "parser": "svelte" } }],
    "svelteAllowShorthand": false,
    "tabWidth": 4,
    "singleQuote": false,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "printWidth": 200,
    "end_of_line ": "crlf"
}
