@mixin forbidden($width) {
    :global(.forbidden) {
        $height: calc($width / 4);
        position: relative;

        &:before {
            content: "";
            background-color: red;
            width: calc($width + 35px);
            height: calc($height + 35px);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            border-radius: 15px;
            z-index: 10;
        }

        &:after {
            content: "FORBIDDEN";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            font-size: calc($width / 6);
            color: white;
            background: red;
            border: solid 10px white;
            border-radius: 10px;
            font-weight: 900;
            width: calc($width + 3px);
            height: calc($height + 3px);
            text-align: center;
            display: flex;
            align-items: center;
            z-index: 10;
        }
    }
}
