:root {
    --footer-color: #121717;
    --footer-iwtcms-label-color-1: #9f9f9f;
    --footer-iwtcms-label-color-2: #fff;
    --footer-iwtcms-label-color-3: #868686;

    --footer-authors-color: gray;
    --footer-authors-url-color: white;

    --footer-github-logo-svg-color: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    --footer-github-title-color: white;
    --footer-github-star-color: grey;
    --footer-github-star-hover-color: #ebca5e;
}

body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    max-width: 600px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    header .icon {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 50px;
        height: 50px;
    }

    main {
        h1 {
            font-size: 6rem;
            margin: 0;
        }

        p {
            font-size: 1.5rem;
            margin: 20px 0;
            color: #b0b0b0;
        }

        .button {
            text-decoration: none;
            background-color: #6200ea;
            color: #ffffff;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 1.2rem;
            transition: background-color 0.3s;
        }

        .button:hover {
            background-color: #3700b3;
        }
    }

    .footer {
        position: absolute;
        background-color: var(--footer-color);
        width: 100%;
        height: 30px;
        bottom: 0;
        display: flex;
        align-items: center;
        transition: background-color 0.3s ease;

        .left {
            display: flex;
            align-items: center;
            justify-content: center;

            .iwtcms-label {
                position: static;
                transform: translate(-15%, 0);
                background: linear-gradient(to right, var(--footer-iwtcms-label-color-1) 0, var(--footer-iwtcms-label-color-2) 10%, var(--footer-iwtcms-label-color-3) 20%) 0;
                -webkit-background-clip: text;
                background-clip: text;
            }

            .authors {
                font-size: 8px;
                display: flex;
                flex-direction: column;
                transform: translateX(-50%);
                color: var(--footer-authors-color);
                transition: color 0.3s ease;
                text-align: left;

                a {
                    color: var(--footer-authors-url-color);
                    text-decoration: none;
                    transition: color 0.3s ease;
                }
            }
        }

        .github {
            position: absolute;
            bottom: 5px;
            right: 10px;
            font-size: 14px;
            text-decoration: none;
            display: flex;
            align-items: center;
            color: var(--footer-github-title-color);
            gap: 5px;
            transition:
                filter 0.3s ease,
                box-shadow 0.3s ease,
                color 0.3s ease;

            &:hover {
                filter: drop-shadow(0 0 10px var(--holo-effect-color));

                .material-symbols-rounded {
                    color: var(--footer-github-star-hover-color);
                    transition: color ease 0.3s;
                }
            }

            img {
                width: 20px;
                height: 20px;
            }

            .material-symbols-rounded {
                font-size: 12px;
                color: var(--footer-github-star-color);
                transition: color ease 0.3s;
            }
        }
    }
}
