// sass imports
@use "sass/variables" as vars;
@use "sass/header";
@use "sass/footer";
@use "sass/container";
@use "sass/login";

//css imports
@use "css/switch.css";
@use "css/btn-shine.css";

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  background-color: var(--background-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;

  transition: background-color 0.3s ease;
}

.material-icons-outlined {
  user-select: none;
}

.enable-js-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  color: var(--main-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: var(--background-color);
}

.toast-notifications {
  z-index: 1000;
  background-color: transparent;
  color: transparent;
  border-radius: 10px;
  width: 250px;
  height: 75px;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  padding: 10px;
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
  transition: color 1s ease, background-color 1s ease;
}

.loading {
  z-index: 50;
  background-color: black;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.disabled {
  display: none;
}