@use "stuff";

$footer-height: 30px;

.footer {
    position: absolute;
    background-color: var(--footer-color);
    width: 100%;
    height: $footer-height;
    bottom: 0;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;

    .iwtcms-label {
        position: absolute;
        left: 55px;
        bottom: -28px;
        top: auto;
        background: linear-gradient(to right, var(--footer-iwtcms-label-color-1) 0, var(--footer-iwtcms-label-color-2) 10%, var(--footer-iwtcms-label-color-3) 20%);
        background-position: 0;
        -webkit-background-clip: text;
        background-clip: text;
    }

    .authors {
        font-size: 8px;
        display: flex;
        flex-direction: column;
        margin-left: 110px;
        color: var(--footer-authors-color);
        transition: color 0.3s ease;

        a {
            color: var(--footer-authors-url-color);
            text-decoration: none;
            transition: color 0.3s ease;
        }
    }

    .github {
        position: absolute;
        bottom: 5px;
        right: 10px;
        font-size: 14px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: var(--footer-github-title-color);
        gap: 5px;
        transition: filter 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;

        &:hover {
            @extend .hover-holo-effect;
        }

        svg {
            width: 20px;
            height: 20px;
            filter: var(--footer-github-logo-svg-color);
        }

        .material-symbols-rounded {
            font-size: 12px;
            color: var(--footer-github-star-color);
            transition: color ease 0.3s;
        }

        &:hover .material-symbols-rounded {
            color: var(--footer-github-star-hover-color);
            transition: color ease 0.3s;
        }
    }
}