$header-height: 90px;
$logos-size: 50px;

$footer-height: 30px;

$console-width: 100%;
$console-height: calc($console-width * 0.8);
$console-input-height: 24px;

$container-height: calc(100vh - $header-height - $footer-height);
