@use "variables" as vars;
@use "all_tabs" as tabs;

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - vars.$header-height);
    position: absolute;
    top: vars.$header-height;
  
    .tabs {
      width: 100%;
      height: 100%;
  
      .tab {
        display: none;
        width: 100%;
        height: 100%;
  
        .container {
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--main-text-color);
          transition: color 0.3s ease;
          top: 0;
        }
      }
  
      #console-tab {
        display: block; // visible by default
        @include tabs.console-tab
      }

      #settings-tab {
        @include tabs.settings-tab
      }

      #players-tab {
        @include tabs.players-tab
      }
    }
}