@use "variables" as vars;

.footer {
    position: absolute;
    background-color: var(--footer-color);
    width: 100%;
    height: vars.$footer-height;
    bottom: 0;

    .iwtcms-label {
        position: absolute;
        left: 55px;
        bottom: -28px;
        top: auto;
        background: linear-gradient(to right, var(--footer-iwtcms-label-color-1) 0, var(--footer-iwtcms-label-color-2) 10%, var(--footer-iwtcms-label-color-3) 20%);
        background-position: 0;
        -webkit-background-clip: text;
    }

    .github {
        position: absolute;
        bottom: 5px;
        right: 10px;
        font-size: 14px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: var(--footer-github-title-color);
        gap: 5px;
        // hover holo effect
        transition: filter 0.3s ease, box-shadow 0.3s ease;
        &:hover {
            filter: drop-shadow(0 0 10px var(--holo-effect-color));
        }

        svg {
            width: 20px;
            height: 20px;
            filter: var(--footer-github-logo-svg-color);
        }

        .material-icons-outlined {
            font-size: 12px;
            color: var(--footer-github-star-color);
            transition: color ease 0.3s;
        }

        &:hover .material-icons-outlined {
            color: var(--footer-github-star-hover-color);
        }
    }
}