@use "variables" as vars;

.header {
    position: absolute;
    background-color: var(--header-color);
    width: 100%;
    height: vars.$header-height;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;

    .material-symbols-rounded,
    .download-iwtcms-cli,
    .color-mode,
    .menu .menu-button { // hover holo effect
        transition: filter 0.3s ease, box-shadow 0.3s ease;
        &:hover {
            filter: drop-shadow(0 0 10px var(--holo-effect-color));
        }
    }

    .material-symbols-rounded { // press effect
        font-size: vars.$logos-size;
        transition: filter 0.3s ease, font-size 0.3s ease, color 0.3s ease;
        color: var(--header-icons-color);
        &:active {
            font-size: #{vars.$logos-size - 5px};
        }
    }

    .menu {
        .menu-button {
            position: absolute;
            top: calc((#{vars.$header-height - vars.$logos-size}) / 2 - 10px);
            left: calc((#{vars.$header-height - vars.$logos-size}) / 2);
            display: flex;
            flex-direction: column;
            align-items: center;

            &:active {
                .material-symbols-rounded {
                    font-size: 15px;
                }
                .text {
                    font-size: 10px;
                }
                img {
                    height: vars.$logos-size - 5px;
                }
            }

            img {
                height: vars.$logos-size;
            }

            .menu-text {
                user-select: none;
                display: flex;
                align-items: center;

                .material-symbols-rounded {
                    transform: unset;
                    font-size: 20px;

                    &:hover {
                        filter: unset
                    }
                    &:active {
                        font-size: 20px;
                    }
                }

                .text {
                    font-size: 15px;
                }
            }
        }

        .menu-button input {
            display: none;
        }

        .menu-button:has(input:checked) ~ .menu-items {
            left: 25px;
        }

        .menu-items {
            position: absolute;
            top: 100px;
            left: -225px;
            background-color: var(--header-menu-background-color);
            border-radius: 10px;
            transition: left 0.3s ease;
            padding-top: 10px;
            padding-bottom: 10px;

            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;

                li {
                    user-select: none;
                    padding: 10px;
                    width: 150px;
                    font-size: 18px;
                    display: flex;
                    align-items: center;
                    color: var(--header-menu-item-fg-color);

                    &:hover {
                        background-color: var(--header-menu-item-hover-background-color);
                    }

                    &:active ~ .material-symbols-rounded {
                        font-size: 15px;
                    }
                    &:active ~ svg {
                        width: 15px;
                        height: 15px;
                    }

                    .material-symbols-rounded {
                        font-size: 20px;
                        margin-right: 10px;
                        color: var(--header-menu-item-fg-color);
                    }

                    svg {
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;
                        filter: var(--header-menu-item-fg-svg-color);
                    }

                    a {
                        width: 170px; // 20px because we have padding 10px
                        height: calc(100% + 20px); // 20px because we have padding 10px
                    }
                }
            }
        }
    }

    .buttons {
        display: flex;
        justify-items: center;
        align-items: center;

        .right {
            margin-left: 10px;
        }

        .center .material-symbols-rounded {
            font-size: vars.$logos-size + 20;
            &:active {
                font-size: vars.$logos-size + 15;
            }
        }

        .left {
            margin-right: 10px;
        }
    }

    .supply {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;

        .color-mode .switch {
            .slider {
                background-color: var(--color-mode-switch-background-color);

                &:before {
                    background-color: var(--color-mode-switch-handle-color);
                    content: "brightness_4";
                    font-family: 'Material Symbols Rounded';
                    font-size: 20px;
                    font-weight: 100;
                    color: var(--color-mode-switch-handle-icon-color);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            input {
                &:checked + .slider:before {
                    content: "brightness_5";
                }
            }
        }

        .download-iwtcms-cli {
            margin-top: 10px;
            margin-right: #{(vars.$header-height - vars.$logos-size) / 2};
            height: vars.$logos-size + 20px;
            transition: font-size 0.3s ease, height 0.3s ease;

            div:not(:has(*)) {
                margin-left: 10px;
            }

            .merger {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .text {
                width: 70%;

                p {
                    margin: 0;
                    font-size: 15px;
                    text-align: center;
                    transition: color 0.3s ease;
                    color: var(--header-icons-color);
                }
            }

            a {
                text-decoration: none;
            }

            .material-symbols-rounded {
                font-size: vars.$logos-size - 20px;
            }

            &:active {
                p {
                    font-size: 14px;
                }
                .material-symbols-rounded {
                    font-size: vars.$logos-size - 21px;
                }
            }
        }
    }
}