@use "variables" as vars;

.login {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  
  z-index: 10;

  .background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background: var(--login-background-color);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: var(--login-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}