@mixin forbidden($width) {
    .forbidden {
        $height: calc($width / 4);
        position: relative;

        &:before {
            content: "";
            background-color: red;
            width: calc($width + 35px);
            height: calc($height + 35px);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            border-radius: 15px;
            z-index: 10;
        }

        &:after {
            content: "FORBIDDEN";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            font-size: calc($width / 6);
            color: white;
            background: red;
            border: solid 10px white;
            border-radius: 10px;
            font-weight: 900;
            width: calc($width + 3px);
            height: calc($height + 3px);
            text-align: center;
            display: flex;
            align-items: center;
            z-index: 10;
        }
    }
}

.disabled {
    display: none !important;
}

.hover-holo-effect {
    filter: drop-shadow(0 0 10px var(--holo-effect-color));
}

.spoiler {
    position: relative;
    &:after {
        content: "";
        display: block;
        background-color: black;
        width: calc(100% + 10px);
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        border-radius: 10px;
        transition: background-color 0.3s ease;
    }

    &:hover:after {
        background-color: transparent;
    }
}

