// sass imports
@use "variables" as vars;
@use "header";
@use "footer";
@use "container";
@use "login";

//css imports
@use "../css/switch.css";
@use "../css/btn-shine.css";

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  background-color: var(--background-color);
  color: var(--main-text-color);;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;

  transition: background-color 0.3s ease;
}

.material-symbols-rounded {
  user-select: none;
}

.enable-js-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  color: var(--main-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: var(--background-color);
}

.toast-notifications {
  z-index: 1000;
  background-color: transparent;
  color: transparent;
  border-radius: 10px;
  width: 250px;
  height: 75px;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  padding: 10px;
  position: absolute;
  top: 100px;
  right: 15px;
  display: none;
  transition: color 1s ease, background-color 1s ease;
}

.forbidden::after {
  content: "FORBIDDEN";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  font-size: 70px;
  color: red;
  font-weight: 900;
}

.disabled {
  display: none !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #F2F2F2;
}

::-webkit-scrollbar-thumb {
  background: #BDBDBD;
}

::-webkit-scrollbar-thumb:hover {
  background: #6E6E6E;
}